* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000066;
    padding: 0 20px;

    position: fixed;
}

.nav .wrapper {
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    height: 100%;
    column-gap: 10px;
}

.nav__logo span {
    color: #FF0000;
}

.nav__menu {
    display: flex;
    height: 100%;
}

.nav__menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.nav__menu li {
    display: flex;
    height: 100%;
}

.nav__menu ul a {
    padding: 0 40px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 300ms linear;
    background-color: transparent;
}

.nav__menu ul a:hover {
    background-color: #FFFFFF33;
}

.masthead {
    width: 100%;
    height: 807px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/Image.jpg") center center no-repeat;
    background-size: cover;
}
.masthead .wrapper {

}
.masthead__content {
    display: block;
    align-items: center;
    justify-content: center;
}
.masthead h2 {
    font-size: 60px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
}
.masthead p {
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-align: center;
}
.masthead_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
